body{
    background-color: #282a36;
    color: white;
}

/* PAPAN NAMA */

.papanNama{
    margin-top: 20px;
    font-size: 45px;
    font-family: 'Averia Sans Libre';
 }
 .brHome{
    display: none;
 }
 .cyvas{
    color: aqua;
 }
 .nyetSatu{
    display: inline-block;
    transform: scale(-1, 1);
 }
 .nyetDua{
    display: none;
 }
 #teks{
    font-family: Averia Sans Libre;
    font-size: x-large;
 }
/* LIST POST */

.post{
    height: 100%;
    width: 60%;
    margin-top: 30px;
    margin-left: 20%;
    border: 5px white solid;
}

 #tanggal{
    float: right;
    padding-right: 40px;
}
#ttg-ongkir:hover{
    cursor: default;
 }
 #ttg-lebokkan:hover{
    cursor: help;

 }
 .tersalinContainer{
    position: relative;
    overflow: hidden;
 }
 .tersalin {
    
    -webkit-animation: cssAnimation 2s backwards; 
    animation: cssAnimation 2s backwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

/* BAGIAN BAWAH SENDIRI ATAU FOOTER*/

.footerHome{

    position: fixed;
    bottom: 0;
}
.footerPost{
    position: static;
    bottom: 0;
}

/* WARNA LINK */

.a:link{
    text-decoration: none;
    color: #50fa7b
}
.a:visited{
    color: #50fa7b
}

.b{
    color: #ff0000;
}
.b:link{
    text-decoration: none;
    color: #ff0000
}
.b:visited{
    color: #ff0000;
}
.code{
    margin-right: 25%;
    margin-left: 20%;
}

.button{
    margin-top: 2%;
    margin-left: 10%;

 }
 #buttonCopy{
    float: right;
 }
 #buttonDemo{
    margin-left: 5px;
    float: right;
 }
 
button {
    border: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.aDemo{
    text-decoration: none;
    color: black
}
.aDemo:visited{
    color: black
}
.aDemo:hover{
    color: whitesmoke;
}
#isicode{
    border: 2px white solid;
    margin-left: 10%;
    background-color: rgb(21, 32, 43);
}

.navbar{
    font-family: 'Poor Story';
    top: 5px;
    position: absolute;
    font-size: 25px;
}


 @media screen and (max-width: 600px){
    .brHome{
        display: inline;
    }
    .nyetSatu{
        display: none;
    }
    .nyetDua{
        display: inline-block;
        transform: scale(-1, 1);
    }

    /* POST */
    #buttonDemo{
        margin-left: 5px;
        float: right;
     }
    button {
        border: none;
        background-color: white;
        color: black;
        padding: 7px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        transition-duration: 0.4s;
      }    
    .post{
        width: 98%;
        margin-top: 50px;
        margin-left: 0%;
        border: 5px white solid;
    }
     #ttg-lebokkan{
        float: right;
        padding-right: 20px;
     }
     #ttg-lebokkan{
        float: right;
        padding-right: 20px;
    }
    .button{
        margin-top: 2%;
        margin-left: 0%;
    
     }
    .code{
        margin-left: 0%;
        margin-right: 0%;
    }
    #isicode{
        margin-left: 0%;
    }
 }
